<!DOCTYPE HTML>
<html lang="en">
    <head>
        <!-- Make site responsive on mobile/tablet -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>YelpCamp</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
        <link rel="stylesheet" href="/stylesheets/main.css">

    </head>
    <body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4 py-1 px-1">
        <a class="navbar-brand px-2 pb-2" href="/">YelpCamp</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item <%= typeof page !== "undefined" && page === "campgrounds" ? "active" : "" %>">
                    <a class="nav-link" href="/campgrounds">
                        Home
                    </a>
                </li>
            </ul>

            <% if( typeof showSearchForm !== "undefined" && showSearchForm === true ){ %>
                <form action="/campgrounds" method="GET" class="form-inline mt-2 mt-md-0 ">
                    <input type="text" name="search" placeholder="Campground search..." class="form-control mr-sm-2" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0 mr-2" type="submit">Search</button>
                </form>
            <% } %>

            <ul class="navbar-nav">
                <% if(!currentUser){ %>
                    <li class="nav-item <%= typeof page !== "undefined" && page === "login" ? "active" : "" %>">
                        <a class="nav-link" href="/login">
                            Login
                        </a>
                    </li>
                    <li class="nav-item <%= typeof page !== "undefined" && page === "register" ? "active" : "" %>">
                        <a class="nav-link ml-1 mr-2" href="/register">
                            Sign Up
                        </a>
                    </li>
                <% } else { %>

                    <li class="nav-item dropdown <%= typeof page !== "undefined" && page === "notify" ? "active" : "" %>">
                        <a class="nav-link dropdown-toggle mx-2" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Notifications
                            <span class="badge badge-light"><%= notifications.length %></span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/notifications">View past notifications</a>
                            <% if(notifications.length >0) {%>
                                <div class="dropdown-divider"></div>
                                <% notifications.forEach(function(notification) { %>
                                    <a class="dropdown-item" href="/notifications/<%= notification.id %>">
                                        <%= notification.username %> created a new campground
                                    </a>
                                <% }); %>
                            <% } %>
                        </div>
                    </li>

                    <li class="nav-item <%= typeof page !== "undefined" && page === "userProfile" ? "active" : "" %>">
                        <a class="nav-link" href="/users/<%= currentUser._id %>">
                            Welcome, <%= currentUser.username %>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link ml-1 mr-2" href="/logout">Logout</a>
                    </li>
                <% } %>
            </ul>
        </div>
    </nav>

    <div class="container">
        <% if(error && error.length >0){ %>
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
        <% } %>

        <% if(success && success.length >0){ %>
            <div class="alert alert-success" role="alert">
                <%= success %>
            </div>
        <% } %>
    </div>

    <div class="container">

